{%- apply spaceless -%}
<!doctype html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {#<link rel="icon" type="image/x-icon" href="{{ asset('assets/shared/logo/icon.png') }}">#}
    {%- block stylesheets -%}
      {{- encore_entry_link_tags('app') -}}
    {%- endblock -%}
  </head>
  <body>
      {%- block body %}{% endblock -%}
      {%- block javascripts -%}
        {{- encore_entry_script_tags('app') -}}
      {%- endblock -%}
  </body>
</html>
{%- endapply -%}
